extends ../layout
block head_content
  script
    include ../js/volumeHandler.js
    include ../js/beerPourAnimation.js
  style
    include ../../assets/css/styles.css
block body_content
  div(class=`flex-wrapper`)
    for tap, key in taps
      div(class=`tap-${key}`)
        div(class=`img--tile`)
          img(src="../../assets/images/lug-tread/lug-tread-1.jpg" alt="Image Title")
        div(class=`content--tile`)
          h3(class="tap__name") #{tap.keg.name}
        div(class=`content--tile volume--tile`)
          div(class=`beer-container`)
            div(class=`pour`)
            div(class=`beaker`)
              div(class=`beer-foam`)
                div(class=`foam-1`)
                div(class=`foam-2`)
                div(class=`foam-3`)
                div(class=`foam-4`)
                div(class=`foam-5`)
                div(class=`foam-6`)
                div(class=`foam-7`)
              div(class=`liquid`)
                div(class=`bubble bubble1`)
                div(class=`bubble bubble2`)
                div(class=`bubble bubble3`)
                div(class=`bubble bubble4`)
                div(class=`bubble bubble5`)
          h4(class="tap__volume" data-volume-original=`${tap.volume}` data-volume-remaining=`${tap.volume}` data-volume-percent=`100`)
        div(class=`img--tile`)
          img.img--tile(src="../../assets/images/lug-tread/lug-tread-2.jpg" alt="Image Title")
        div(class=`img--tile`)
          img.img--tile(src="../../assets/images/lug-tread/lug-tread-3.jpg" alt="Image Title")
        div(class=`content--tile description`)
          p(class="tap__description") #{tap.keg.description}
