- percentageRemaining = (tap.volume/tap.initialVolume)*100

div(class=`tap-${key}` data-volume-original=`${tap.initialVolume}` data-volume-remaining=`${tap.volume}` data-volume-percent=`${percentageRemaining}`)
  div(class=`img--tile`)
    img(src=`${tap.keg.images.logo}` alt=`${tap.keg.name}`)
  div(class=`content--tile`)
    h3(class="tap__name") #{tap.keg.name}
  div(class=`content--tile volume--tile`)
    include ../snippets/beer-animation
    div(class=`keg-info`)
      //h4(class=`abv`) #{tap.keg.details.alcohol}