extends admin_layout

block sidebar
    for keg, key in kegs
        div(class=`keg keg-${key}`)
        h4= keg.name
        div(class='keg-action-buttons')
            a(href=`/admin/taps/left/edit/${key}` class='')
                i(class="fas fa-arrow-alt-circle-left")
            a(href=`/admin/taps/right/edit/${key}` class='')
                i(class="fas fa-arrow-alt-circle-right")
            a(href=`/admin/kegs/${key}/edit` class='')
                i(class="far fa-edit")
            a(href=`/admin/kegs/${key}/delete` class='')
                i(class="far fa-trash-alt")
        br

    a(href="/admin/kegs/new")= "Add new keg"
            
block main_content
    div(class='container')
        div(class='row taps')
            for tap, key in taps
                div(class=`col-12 col-xs-6 tap-${key}`)
                    p= `Now on ${key} tap`
                    h2= tap.keg.name
                    p(class='tap__volume')= tap.volume
    div(class='container')
        if config.testMode
            a(href='/admin/testmode') DISABLE TEST MODE
        else
            a(href='/admin/testmode') ENABLE TEST MODE
    div(class='container')
        if config.maintenanceMode
            a(href='/admin/maintenancemode') DISABLE MAINTENANCE MODE
        else
            a(href='/admin/maintenancemode') ENABLE MAINTENANCE MODE
